<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
</head>
<body style="display: flex;justify-content:center;align-items: center;flex-direction: column;">
	<div style="width: 60%;margin: 20px;display: flex;justify-content:center;align-items: center;background: #708C90;flex-direction: column;border-radius: 10px;">
	<h1>Register Form </h1>

		{% if form.errors %}
			<p style='color:red'>there was an erore with your form ..! <br> {{ form.errors }}</p>
		{% endif %}
		
		<form action="" method="POST" enctype="multipart/form-data" style="width: 50%;margin: 20px;display: flex;justify-content:center;align-items: center;flex-direction: column;">

			{% csrf_token %}

			{{form.as_p}}


			<Button type="submit">Register</Button>
		</form>

	</div>
</body>
</html> 